---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<p>个人CSDN:<a href="https://blog.csdn.net/u010615629" target="_blank">CSDN</p>
			<p>MailTo:<a href="mailto:me@fanruitian.cn">me@fanruitian.cn</p>
		</main>
		<Footer />
	</body>
</html>
