---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
		    <p>Welcome：</p>
			<p>My blog:  <a href="https://blog.csdn.net/u010615629" target="_blank">CSDN</a></p>
			<p>开源硬件平台: <a href="https://oshwhub.com/frt888/works">https://oshwhub.com/frt888/works</a></p>
			<p>github:<a href="http://github.com/fanruitian/">github</a></p>
			<p>Mail to me: <a href="mailto:me@fanruitian.cn">me@fanruitian.cn</a></p>
		</main>
		<Footer />
	</body>
</html>
